<header class="header">
    <div class="header__container">
        <div class="header__left">
            <a class="header__logo" href="#">
                <img src="@img/logo-dark.svg" alt="">
            </a>
            <ul class="header__nav">
                <li class="with-submenu active">
                    <a href="#">
                        Servicii
                        <span class="icon-arrow_down"></span>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="#">Tipar format larg</a>
                        </li>
                        <li>
                            <a href="#">Tipar poligrafic</a>
                        </li>
                        <li>
                            <a href="#">Publicitate exterioară</a>
                        </li>
                        <li>
                            <a href="#">Tipar pe stofe și altele</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contacte</a>
                </li>
            </ul>
        </div>
        <div class="header__right">
            <a href="tel:+(373) 68 111 919">
                <span class="icon-call"></span>
                +(373) 68 111 919
            </a>
            <a href="#">
                <span class="icon-location"></span>
                Ion Creangă 45
            </a>
            <ul class="language">
                <li class=" active">MD</li>
                <li>RU</li>
            </ul>
        </div>
        <div class="burger">
            <span></span>
        </div>
    </div>
</header>
